{% extends 'base.html.twig' %}

{% block title %}Create new Author{% endblock %}

{% block body %}

<div class="container">
   <div class="row justify-content-center">
       <div class="col-md-8">
           <div class="card">
               <div class="card-header"><h1>Create new Author ✅</h1></div>

               <div class="card-body">
                     <form action="{{path('author_store')}}" method="POST">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="author_name" class="form-control" value="{{author_name}}">
                            <small class="form-text text-muted">Author name</small>
                        </div>
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" name="author_surname" class="form-control" value="{{author_surname}}">
                            <small class="form-text text-muted">Author surname</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Add new Author</button>
        
                        {# csrf token #}
                        <input type="hidden" name="token" value="{{ csrf_token('create_author') }}"/>
                    </form>
               </div>
           </div>
       </div>
   </div>
</div>
    
{% endblock %}


